html {
  font-size: 18px;
  line-height: 1.4rem;
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: auto;
}

/*Nav Bar  -- no logos on desktop, logos only on mobile*/
header {
  height: 64px;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
  display: flex;
}

header .content {
  display: flex;
  align-items: center;
}

nav{
  justify-content: flex-end;
}

header .content img {
  height: 32px;
  padding-left: 24px;
  display: inline;
}

nav span {
  font-family: Helvetica;
  font-size: 32px;
  justify-content: center;
  align-items: center;
}

#Colmar {
  font-weight: bold;
}

nav li {
  display: inline;
  padding: 1rem 2rem;
}


.mobilenav {
  display: none;
}

@media only screen and (max-width: 1024px;){

  .mobilenav {
    display: block;
  }
}
