html {
  font-size: 16px;
  line-height: 1.4rem;
  font-family: Helvetica;
}

body {
  margin: 0;

}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

h3 {
  font-size: 1.15rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

* {
  border:
}

/*Nav Bar  -- no logos on desktop, logos only on mobile Still need to work on this part*/
.header {
  height: 64px;
  display: flex;
  align-items: center;
  margin: 16px 24px;
  justify-content: space-between;
}

.logo-colmar {
  display: flex;
  align-items: center;
}

#Academy {
  font-weight: bold;
}

.nav-desktop {
  padding: 24px;
}

.nav-desktop a {
  padding: 16px;
}

.mobilenav {
  display: none;
}

@media only screen and (max-width: 1024px;){

  .mobilenav {
    display: block;
  }
}

/*Hero area. Large image, grey background, "Learn Something New Everyday" Start here button*/
.learn {
  background-color: lightgrey;
  display: flex;
  padding-top: 3rem;
}

.learning img {
  display: block;
  width: 60%;
  padding: 2rem 1.5rem;

}

.learning {
  width: 60%;
}

.something {
position: relative;
right: 10%;
padding-top: 120px;
text-align: left;

}

.something h1 {
  color: #4a4a4a;;
  padding-bottom: 0.75rem;

}

.something h3 {
  color: #808080;
  padding-bottom: 1.25rem;
}

.something span {
  padding: 8px 56px;
  background-color: #4a4a4a;
  color: white;
  font-family: Helvetica;
}

/*Second section: image of guy reading, three stacked boxes*/


.practice {
  display: flex;
}

.practicing {
  width: 60%;
}

.practicing img{
  width: 60%;
  padding: 2rem 1.5rem;
}

.practicing-text {
padding-left: 1.5rem;
width: 60%;

}

.practicing-text h1 {
  color: #4a4a4a;
}

.practicing p {
padding: 1rem 0rem;
color: #4a4a4a;

}

.practicing span {
font-style: italic;


}

.info-boxes {
width: 40%


}

.info-box {
  display: flex;
  border: 1px solid #cccccc;

}
.info-img {
  width: 35%;
  padding: 1rem;
}

.info-img img{
  width: 100%;

}
.story-img-text {
  width: 65%;
  font-family: Helvetica;
  padding: 1rem;
}

.story-img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin-left: 0.5rem;
}


/*Third section on "Start Learning" grey background 6 boxes*/
.learning {

}

.featured-courses {
  display: flex;
  flex-wrap: wrap;
  background-color: lightgrey;
  align-content: space-around;
}

.course-box {
width: 350px;

padding: 2rem;
margin: 2rem;
}

.course-box img {
  width: 100%;
}

.course-box-text {
  background-color: white;
  padding: 1.5rem;
}

.course-box-text h3 {
  padding-bottom: 1rem;
}

.course-box-text span {
  font-style: italic;
}

.course-box-text p {
  padding-top: 1rem;
}

/*Fourth Section "Thesis Exhibit" There's a video here and two more rectangular boxes*/

.thesis-exhibit h1{
  width: 100%;
}

.thesis-exhibit-text {
  text-align: center;
  margin-top: 2rem;
}

.thesis {
  display: flex;
}

.left video {
  width: 100%;
}

.story-img-text h1 {
  font-size: 1.5rem;
}

.reimagine {
  font-size: 1.5rem;
  margin-top: 2rem;
}
