html {
  font-size: 16px;
  line-height: 1.4rem;
  font-family: Helvetica;
}

body {
  margin: 0;
}

a {
  text-decoration: underline;
  color: #4a4a4a;
}

a:hover {
  color: blue;
}


h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #4a4a4a;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #4a4a4a;
}

h3 {
  font-size: 1.15rem;
  font-weight: bold;
  color: #4a4a4a;
}

p {
  font-size: 1rem;
  color: #4a4a4a;
}

* {
  border:
}

/*Nav Bar  -- no logos on desktop, logos only on mobile Still need to work on this part*/
.header {
  height: 64px;
  display: flex;
  align-items: center;
  margin: 16px 24px;
  justify-content: space-between;
}

.logo-colmar {
  display: flex;
  align-items: center;
}

#Academy {
  font-weight: bold;
}

.nav-desktop {
  padding: 24px;
}

.nav-desktop a {
  padding: 1rem;
  text-decoration: none;
}


.mobilenav {
  display: none;
}

/*mobile nav*/

@media only screen and (max-width: 720px){

.nav-desktop a{
  display: none;
}

.logo-colmar span{
  display: none;
}
  .mobilenav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .header {
    height: 4rem;
  }
}

/*Hero area. Large image, grey background, "Learn Something New Everyday" Start here button*/
.learn {
  background-color: lightgrey;
  display: flex;
  padding-top: 3rem;
}

.learning img {
  display: block;
  width: 60%;
  padding: 2rem 1.5rem;

}

.learning {
  width: 60%;
}

.something {
position: relative;
right: 10%;
padding-top: 120px;
text-align: left;

}

.something h1 {
  color: #4a4a4a;;
  padding-bottom: 0.75rem;

}

.something h3 {
  color: #808080;
  padding-bottom: 1.25rem;
}

.button{
  padding: 8px 56px;
  background-color: #4a4a4a;
  color: white;
  font-family: Helvetica;
}

.button:hover {
  background-color: white;
  color: #4a4a4a;
}

@media only screen and (max-width: 720px){
  .learn {
    flex-direction: column;
    margin: auto;

  }

  .learning {
    width: 100%;

  }

  .learning img{
    width: 100%;
    padding: 0;
  }

  .something {
    padding: 1rem 1rem 2rem 1rem;
    text-align: center;
  }

  .button{
    width: initial;
    margin: 1rem 1rem 2rem 2rem;
  }
  }
/*Second section: image of guy reading, three stacked boxes*/


.practice {
  display: flex;
}

.practicing {
  width: 60%;
}

.practicing img{
  width: 60%;
  padding: 2rem 1.5rem;
}

.practicing-text {
padding-left: 1.5rem;
width: 60%;

}

.practicing-text h1 {
  color: #4a4a4a;
}

.practicing p {
padding: 1rem 0rem;
color: #4a4a4a;
}

.practicing span {
font-style: italic;
}

.info-boxes {
width: 40%;
padding-top: 2rem;
margin-right: 2rem;
}

.info-box {
  display: flex;
  border: 1px solid #cccccc;
}

.info-box:hover {
  background-color: #cccccc;
}

.info-img {
  width: 35%;
  padding: 1rem;
}

.info-img img{
  width: 100%;

}

.story-img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-right: 0.5rem;
}

.info-boxes-mobile {
  display: none;
}

@media only screen and (max-width: 720px){
  .practice {
    display: none;
  }

  .info-boxes-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

.info-box-mobile {
  padding: 1rem;
}

.info-box-mobile:hover {
  background-color: #cccccc;
}

.story-img-text {
  padding-top: 1rem;
  padding-left: 1rem;
}
}

/*Third section on "Start Learning" grey background 6 boxes*/
.Learning {
  background-color: lightgrey;
  margin-top: 2rem;
}

.Learning h1 {
  text-align: center;
  padding-top: 2rem;
  color: #4a4a4a;
}

.featured-courses {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.course-box {
width: 350px;
padding: 1rem;
margin: 1rem;
transition: transform .2s;
}

.course-box:hover {
  transform: scale(1.1);
}

.course-box img {
  width: 100%;
}

.course-box-text {
  background-color: white;
  padding: 1.5rem;
  height: 120px;
}

.course-box-text h3 {
  padding-bottom: 1rem;
}

.course-box-text span {
  font-style: italic;
}

.course-box-text p {
  padding-top: 1rem;
}

#learningline {
  color: none;
}

@media only screen and (max-width: 720px) {

  .Learning {
    background-color: white;
  }

.course-box {
  padding: 0;
}

  .featured-courses {
    flex-direction: column;
      align-items: center;
  }

  .course-box-text {
    background-color: lightgrey;
    height: 1.5rem;
  }

  .course-box img {
    display: none;
  }

  .course-box-text span, p {
    display: none;
  }

#learningline {
  color: #4a4a4a;
}

}
/*Fourth Section "Thesis Exhibit" There's a video here and two more rectangular boxes*/

.thesis-exhibit h1{
  width: 100%;
  padding-bottom: 2rem;
  color: #4a4a4a;
}

.thesis-exhibit-text {
  text-align: center;
  margin-top: 2rem;
}

.thesis {
  display: flex;
}

.thesis-left {
  width: 60%;
  padding: 2rem 1rem;
}

video {
  width: 100%;
}

.video-text {
  width: 80%;
}

.thesis-right {
  width: 40%;
  margin: 2rem;
}


.thesis-story {
  display: flex;
  align-items: center;
  border: 1px solid #cccccc;
}

.thesis-story:hover {
  background-color: #cccccc
}

.thesis-img {
  width: 35%;
}

.thesis-img img {
  width: 100%;
}

.thesis-img-text {
  text-align: left;
  width: 65%;
  padding: 0 2rem 0 0.5rem;
}

.video h2 {
  padding: 1rem 0;
}

.video p{
  padding-bottom: 1rem;
}

.video span{
  font-style: italic;
  padding-bottom: 2rem;
}

.thesis-exhibit-mobile {
  display: none;
}

@media only screen and (max-width: 720px) {
  .thesis-exhibit-mobile {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

.thesis-exhibit-mobile h1{
  text-align: center;
  padding: 1rem;
}

  .thesis-exhibit {
    display: none;
  }

}
/*line between thesis area and footer*/

hr {
  color: #cccccc;
}

/*footer*/

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

@media only screen and (max-width: 720px) {
  .copyright{
    padding: 1rem;
  }
.terms {
  display: none;
}
}
